/.idea
/bin/gst.exe
/srt/bin/srt-file-transmit.exe
/srt/bin/srt-ffplay
/srt/bin/srt-tunnel.exe
/srt/bin/srt-live-transmit.exe
/bin/srt.dll
/bin/libcrypto-1_1-x64.dll
/bin/pthreadVC3.dll
/bin/pthreadVC3d.dll
/bin/gosrt.dll
/bin/gosrt.exp
/bin/gosrt.pdb
/bin/gosrt.lib
/library/srt/bin/srt-ffplay
/library/srt/bin/srt-file-transmit.exe
/library/srt/bin/srt-live-transmit.exe
/library/srt/bin/srt-tunnel.exe
